
body {
    font-family: "Abel", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0px;
}

html {
    margin-top: 0px !important;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    margin: 10px 0px;
    margin-right: auto;
    margin-left: auto;

}

.header-logo {
    width: 8em;
    transform: rotate(-8deg);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 1em;
    font-size: 1.1em;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    justify-content: space-between;
    align-items: start;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    column-gap: 58px;
}


.item {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: start;
    text-align: center;
    width: 100%;
    height: auto;
    text-decoration: none;
}


.images-container {
    width: 100%;
}

.images {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.title-container {
    display: flex;
    flex-flow: column;
    justify-items: start;
    align-items: start;
    width: 100%;
}

.title {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.26s ease-in;

}

.item:hover .title {
    opacity: 1;

}


.item:nth-child(odd) {
    margin-bottom: 8%;
    flex-direction: column-reverse;

}

.item:nth-child(even) {
    margin-top: 8%;

}

.detalles-container {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: start;
}

.detalles-grid {
    display: grid;
    max-width:937px;
    margin-left: 80px;
    margin-right: 80px;
    align-content: center;
}


.detalles-titulo {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 10px;
}

.grid-recortes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-recortes > * {
    margin-right: 25px;
    margin-top: 25px;
    object-fit: cover;
}

.imagen-completa-container {
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    max-width: 1000px;
    height: 500px;
}

.detalles-descripcion {
    display: flex;
    flex-flow: column;
    font-size: 1.4em;
    justify-content: space-between;
}
.imagen-completa {
    width: 100%;
    object-fit: contain;
}


.recorte-img {
    width: 100%;
    max-width: 200px;
}

@media screen and (max-width: 1200px) {
    .item:nth-child(odd) {
        margin-bottom: 0px;
    
    }
    
    .item:nth-child(even) {
        margin-top: 0px;
    
    }
    

    .grid-container {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .item:nth-child(3n+2) {
        
        margin-top: 8%;
        flex-direction: column;
    }

    .item:nth-child(6n+1),
    .item:nth-child(6n+3),
    .item:nth-child(6n+4),
    .item:nth-child(6n+6) {
        margin-bottom: 8%;
        flex-direction: column-reverse;

    }
}


@media screen and (max-width: 900px) {

    

    .grid-container {
        grid-template-columns: repeat(3, minmax(170px, 1fr));   
        padding-left: 20px;
        padding-right: 20px;
    }


    .nav {
        display: none;
    }

    .header {
        justify-content: center;
    }

}



@media screen and (max-width: 670px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        padding-left: 60px;
        padding-right: 60px;
    }

    .item:nth-child(odd) {
        margin-top: 0px;
        margin-bottom: 8%;
        flex-direction: column;
    
    }
    
    .item:nth-child(even) {
        margin-top: 0px;
        margin-bottom: 8%;
        flex-direction: column;
    
    }

}


@media screen and (max-width: 400px) {

    

    .grid-container {
        padding-left: 20px;
        padding-right: 20px;
    }

}