
body {
    font-family: "Jost", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0px;
}

html {
    margin-top: 0px !important;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    margin: 10px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;

}

.header-logo {
    width: 8em;
    transform: rotate(-8deg);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 1em;
    font-size: 1.1em;
}



.home-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    justify-content: space-between;
    align-items: start;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    column-gap: 58px;
}


.item {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    text-decoration: none;
    gap: 4px
}


.images-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.images {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.title-container {
    display: flex;
    flex-flow: column;
    justify-items: start;
    align-items: start;
    width: 100%;
}

.title {
    font-size: 1.6em;
    color: black;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.26s ease-in;
}

.item:hover .title {
    opacity: 1;

}


.item:nth-child(odd) {
    margin-bottom: 8%;
    flex-direction: column-reverse;

}

.item:nth-child(even) {
    margin-top: 8%;

}

.detalles-container {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
}

.detalles-grid {
    display: grid;
    align-content: center;
    width: 35%;
    min-width: 400px;
}

.detalles-titulo {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
}

.imagen-descripcion {
    display: flex;
    align-items: end;
    gap: 3%;
    justify-content: start;
}

.imagen-completa-container {
    display: flex;
    justify-content: start;
    width: 77%;
}

.imagen-completa {
    object-fit: contain;
    width: 100%;
}

.descripcion {
    display: flex;
    flex-flow: column;
    font-size: 1.4em;
    justify-content: space-between;
    width: 20%;
}

.recortes-grid {
    display: grid;
    grid-template-columns: repeat(3, 20%);
}

.recortes-grid > * {
    margin-right: 18%;
    margin-top: 18%;
}

.recorte-img {
    width: 100%;
    max-width: 200px;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.contacto-container {
    display: flex;
    justify-content: center;
}

.contacto {
    width: 20%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    height: 200px;
    border: solid rgb(75, 75, 75);
    border-radius: 15px;
}

@media screen and (max-width: 1200px) {
    .item:nth-child(odd) {
        margin-bottom: 0px;
    
    }
    
    .item:nth-child(even) {
        margin-top: 0px;
    
    }
    

    .home-grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .item:nth-child(3n+2) {
        
        margin-top: 8%;
        flex-direction: column;
    }

    .item:nth-child(6n+1),
    .item:nth-child(6n+3),
    .item:nth-child(6n+4),
    .item:nth-child(6n+6) {
        margin-bottom: 8%;
        flex-direction: column-reverse;

    }
}


@media screen and (max-width: 900px) {

    

    .home-grid {
        grid-template-columns: repeat(3, minmax(170px, 1fr));   
        padding-left: 20px;
        padding-right: 20px;
    }


    .nav {
        display: none;
    }

    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .detalles-titulo {
        font-size: 1.8em;
        margin-bottom: 0px;
    }

    .descripcion {
        font-size: 1.0em;
    }

    /*
    .imagen-descripcion {
        flex-flow: column;
        align-items: center;
    }

    .recortes-grid {
        justify-content: center;
    }

    .descripcion {
        text-align: center;
    }

    .detalles-titulo {
        text-align: center;
    }
*/
}



@media screen and (max-width: 768px) {
    .home-grid {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        padding-left: 60px;
        padding-right: 60px;
    }

    .item:nth-child(odd) {
        margin-top: 0px;
        margin-bottom: 8%;
        flex-direction: column;
    
    }
    
    .item:nth-child(even) {
        margin-top: 0px;
        margin-bottom: 8%;
        flex-direction: column;
    
    }

    .title {
        opacity: 1;
    }

  
    

}


@media screen and (max-width: 480px) {

    

    .detalles-grid {
        width: 90%;
        min-width: 0px;
    }

}