body {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-style: normal;
}

button {
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0px;
}

html {
    margin-top: 0px !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin: 10px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;
}

.invisible {
    display: none;
}

.header-logo {
    width: 8em;
    transform: rotate(-8deg);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 1.05em;
    font-size: 1.05em;
}

.hamburguer-menu {
    width: 35px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: ease-in 0.5s;
    display: none;
    position: relative;
    z-index: 1000;
}

.hamburguer-line {
    width: 100%;
    height: 2px;
    transition: ease-in-out 0.2s;
    background-color: rgb(47, 47, 47);
}

.close {
    display: block;
}

.open {
    display: none;
}

.nav-list-close {
    display: none;
}

.nav-list-open {
    display: none;
}

.menu-off {
    display: none;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    justify-content: space-between;
    align-items: start;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 45px;
    padding-left: 80px;
    padding-right: 80px;
    column-gap: 65px;
}


.item {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    text-decoration: none;
    gap: 0.5px;
}


.images-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.images {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.images:hover {
    filter: grayscale(70%);
    transition: all ease-in-out 350ms;
}

.title-container {
    display: flex;
    flex-flow: column;
    justify-items: start;
    align-items: start;
    width: 100%;
    overflow: hidden;
}

.title {
    font-size: 1.55vw;
    color: black;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.26s ease-in;
    text-align: start;
    white-space: nowrap;
}

.item:hover .title {
    opacity: 1;

}


.item:nth-child(odd) {
    margin-bottom: 9%;
    flex-direction: column-reverse;

}

.item:nth-child(even) {
    margin-top: 9%;

}

.detalles-container {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
}

.detalles-grid {
    display: grid;
    align-content: center;
    width: auto;
}

.detalles-title {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: start;
}

.imagen-descripcion {
    display: flex;
    align-items: end;
    gap: 15px;
    justify-content: start;
}

.imagen-completa-container {
    display: flex;
    justify-content: start;
    width: auto;
/*    max-height: 60vh; */
    height: 60vh;
}

.imagen-completa-container:hover {
    filter: grayscale(70%);
    transition: all ease-in-out 350ms;
}

.imagen-completa {
    object-fit: contain;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.descripcion {
    display: flex;
    flex-flow: column;
    font-size: 1.4em;
    justify-content: space-between;
    width: auto;
}

.descripcion>div {
    white-space: nowrap;
    overflow: hidden;
}


.descripcion-chica {
    display: none;
    flex-flow: column;
    font-size: 1.4em;
    justify-content: space-between;
    width: auto;
}

.descripcion-chica>div {
    white-space: nowrap;
    overflow: hidden;
}



.recortes-grid {
    display: flex;
    max-width: 700px;
}

.recortes-grid>* {
    margin-right: 20px;
    margin-top: 20px;
}


.recorte-img {
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    
}

.recorte-img:hover {
    filter: grayscale(70%);
    transition: all ease-in-out 350ms;
}

.info-container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 3em;

}



.section-info {
    overflow: hidden;
    width: 100%;
    text-align: justify;

}

.info-title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 15px;
}

.imagen-info-1 {
    float: left;
    margin: 0px 1em 0em 0px;
    max-width: 300px;
}

.imagen-info-2 {
    float: right;
    margin: 1em 0px 1em 1em;
    max-width: 300px;
}

.imagen-info-3 {
    float: right;
    margin: 1em 0px 1em 0px;
    width: 100%;
}

.imagen-info img {
    display: block;
    width: 100%;

}


.contacto-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.contacto-imagen {
    width: 400px;
}

.contacto-imagen img {
    width: 100%;
}

.contacto-texto {
    display: flex;
    flex-flow: column;
    width: 200px;
    padding-left: 2.5em;
    white-space: nowrap;
}

.contacto-titulo {
    margin-bottom: 20px;
    font-size: 1.5em;
    margin-top: 110px;

}


.contacto-mail {
    margin-bottom: 70px;
}

.contacto-ciudad {
    margin-bottom: 20px;

}

.contacto-instagram {
    margin-bottom: 10px;
}

.publicaciones-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 85%;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    row-gap: 3em;
    column-gap: 2em;
    justify-content: space-between;
}

.publicacion {
    display: flex;
    flex-flow: row;
    gap: 1.5em;
}

.publicacion-images-container {
    min-width: 250px;
}

.publicacion-images {
    width: 100%;
}

.texto-publicacion {
    max-width: 350px;
    width: 50%;
    font-size: 1em;
    text-align: start;
    overflow-wrap: break-word; 
}

.titulo-publicacion {
    font-size: 1.3em;
}

.descripcion-publicacion {
    margin-top: 0.5em;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(74 75 71 / 90%);;
    display: none;
    justify-content: center;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-img {
    max-width: 90%;
    height: auto;
    max-height: 80vh;
}


.swiper-image-container {
    max-width: 80%;
    max-height: 80%;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: rgb(231, 231, 231) !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-open {
    display: flex;
}

.swiper-x {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 27px;
    cursor: pointer;
    color: rgb(231, 231, 231);
    background-color: transparent;
    z-index: 1000;
  }

  .swiper-ancho {
    width: 75%;
    height: auto;
  }

  .buscador-container {
    margin-left: 80px;
    margin-top: 20px;
  }

  .filter-section {
    display: none;
  }

  .filter-section-on {
    display: flex;
  }

  .lupa {
    margin-left: 1.05em;
    width: 1.05em;
    height: 1.05em;
}


@media screen and (max-width: 1200px) {
    .item:nth-child(odd) {
        margin-bottom: 0px;

    }

    .item:nth-child(even) {
        margin-top: 0px;

    }


    .home-grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .item:nth-child(3n+2) {

        margin-top: 9%;
        flex-direction: column;
    }

    .item:nth-child(6n+1),
    .item:nth-child(6n+3),
    .item:nth-child(6n+4),
    .item:nth-child(6n+6) {
        margin-bottom: 9%;
        flex-direction: column-reverse;

    }

    .title {
        font-size: 1.8vw;
    }

    
    .publicaciones-grid {
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .publicacion {
        justify-content: center;
    }   

}



@media screen and (max-width: 900px) {



    .home-grid {
        grid-template-columns: repeat(3, minmax(170px, 1fr));
        padding-left: 20px;
        padding-right: 20px;
        column-gap: 58px;

    }


    .nav {
        display: none;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .invisible {
        display: block;
    }

    .item-right {
        margin-left: auto; /* Esto empuja el segundo elemento a la derecha */
    }

    .detalles-title {
        font-size: 1.8em;
        margin-bottom: 0px;
    }



    .hamburguer-menu {
        display: flex;
    }

    .descripcion {
        font-size: 1.2em;
    }

    .title {
        font-size: 2.4vw;
    }

    .info-container {
        width: 80%;
    }

    .nav-list-open {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        gap: 3.5em;
        background-color: rgb(247, 247, 247);
        z-index: 1000;
    }

}




@media screen and (max-width: 800px) {
    .home-grid {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        padding-left: 80px;
        padding-right: 80px;
    }

    .item:nth-child(odd) {
        margin-top: 0px;
        margin-bottom: 9%;
        flex-direction: column;

    }

    .item:nth-child(even) {
        margin-top: 0px;
        margin-bottom: 9%;
        flex-direction: column;

    }

    .title {
        opacity: 1;
        font-size: 4vw;
    }



    .descripcion {
        display: none;
    }

    .descripcion-chica {
        display: flex;
        font-size: 1.2em;
    }

    .detalles-grid {
        max-width: 500px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }

    .imagen-completa-container {
        height: auto;
        width: 100%;
    }

    .imagen-completa {
        height: auto;
        width: 100%;
    }

    .contacto-container {
        flex-flow: column;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 0px;
        width: 280px;
        height: 250px;
        margin-top: 50px;
        padding-bottom: 10px;

    }

    .contacto-titulo {
        margin-top: 10px;
    }

    .contacto-texto {
        text-align: center;
        padding: 0px;
    }


    .contacto-imagen {
        display: none;

    }

    .contacto-mail {
        margin-bottom: 20px;
    }

    .info-container {
        width: 90%;
    }


}


@media screen and (max-width: 560px) {

    .home-grid {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        padding-left: 35px;
        padding-right: 35px;
    }



    .detalles-title {
        font-size: 1.5em;
    }

    .recortes-grid>* {
        margin-right: 4%;
        margin-top: 4%;
    }

    .descripcion-chica {
        font-size: 1.1em;
    }


    .title {
        font-size: 6vw;
    }

    .section-info {
        display: flex;
        flex-flow: column;
        align-items: center;

    }

    .info-container {
        text-align: center;
    }

    .imagen-info-1 {
        margin: 0px 0px 20px 0px;
    }

    .imagen-info-2 {
        margin: 20px;
    }

    .publicaciones-grid {
        row-gap: 3.5em;
    }

    .publicacion {
        flex-flow: column;
        align-items: center;
        gap: 1em;
    }

    .publicacion-images-container {
        width: 90%;
    }

    .texto-publicacion {
        width: 90%;
        max-width: none;
    }

    .titulo-publicacion {
        text-align: center;   
    }

    .descripcion-publicacion {
        text-align: justify;
    }

  
}